# Normalize line endings to LF
* text=auto

# For specific files, set LF or CRLF explicitly if needed
*.js      text eol=lf
*.json    text eol=lf
*.css     text eol=lf
*.html    text eol=lf

# Treat node_modules and other binary files as binary
backend/node_modules/* binary