@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: #cbdbff;
}

.title, .slogan {
  text-align: center;
}

/* :root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #DB2B39;
  --textColor: #eee;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
} */